Error vs dimension/models_std4_train/d12/train_inputs_d12.dat
Error vs dimension/models_std4_train/d12/train_targets_d12.dat
Error vs dimension/models_std4_train/d10/train_inputs_d10.dat
Error vs dimension/models_std4_train/d10/train_targets_d10.dat
Error vs dimension/models_std4_train/d8/train_targets_d8.dat
Error vs dimension/models_std4_train/d8/train_inputs_d8.dat
Error vs dimension/models_std4_train/d6/train_inputs_d6.dat
Error vs dimension/models_std4_train/d6/train_targets_d6.dat
Error vs dimension/models_std4_train/d4/train_targets_d4.dat
Error vs dimension/models_std4_train/d4/train_inputs_d4.dat
Error vs dimension/models_std4_train/d2/train_targets_d2.dat
Error vs dimension/models_std4_train/d2/train_inputs_d2.dat
